DATABASE_URL="postgresql://usuario:senha@host:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://usuario:senha@host:5432/postgres?sslmode=require"
JWT_SECRET="gere-um-segredo-aleatorio-com-pelo-menos-32-caracteres"
PORT=3000
NODE_ENV=development